/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .avionte-clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.avionte-wrap, .avionte-search-wrap {
    width: 100%;
}
.col-50{
    width: 50%;
    float: left;
    padding-right: 10px;
	margin-bottom: 10px;
}
.avionte-form-control {
    width: 100%;
}
ul.avionte-job-listing {
    padding: 0;
    margin: 0;
}
ul.avionte-job-listing li{
    list-style: none outside;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.avionte-result .position-info, .avionte-result .avionte-button{
    text-decoration: none;
}
@media screen and (min-width: 491px) {
   .avionte-result .position-info, .avionte-result .application_link, .avionte-result .position, .avionte-result .location{
        display: block;
        float: left;
    }
    .avionte-result .position-info {
    width: 80%;
    }
    .avionte-result .application_link {
        width: 20%;
        overflow: hidden;
    }
    .avionte-result .position {
        width: 80%;
    }
    .avionte-result .location {
        width: 20%;
    }
}

.avionte-button {
    display: block;
    text-align: center;
    padding: .2em .5em;
    text-decoration: none;
}
.avionte-job-list-wrap {
    width: 100%;
}
.avionte-job-list-wrap .title-wrap, .avionte-job-list-wrap .button-wrap {
    float: left;
}
.avionte-job-list-wrap .title-wrap {
    width: 80%;
}
.avionte-job-list-wrap .button-wrap {
    width: 20%;
}